# log files
debug_info.log
parsed_cmds.txt
_post_test.txt

# general python
__pycache__/
venv/
.idea/

# testing
functions/
fena_pyexpander/*.txt
fena_pyexpander_rewrite/*.txt

# packaging
dist/
*.egg-info/
build/

# vim session lol
Session.vim
