# log files
log/
fenalib/log/
debug_info.log
_post_test.txt

# general python
.mypy_cache/
__pycache__/
venv/
.idea/

# testing
functions/
fena_pyexpander/*.txt
fena_pyexpander_rewrite/*.txt

# packaging
dist/
*.egg-info/
build/

# vim sessions
*.vim
